#com_kamilsarelo_dynatrace_timetracking_html, #com_kamilsarelo_dynatrace_timetracking_html * {
	box-sizing: border-box;
}

#com_kamilsarelo_dynatrace_timetracking_html {
	font-family: Roboto, "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system, Arial, Helvetica, sans-serif;
	font-size: 12px;

	background-color: rgba(0, 0, 0, 0.66);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999;
}

#com_kamilsarelo_dynatrace_timetracking_content {
	display: grid;
	grid-template-rows: auto 1fr auto;

	position: absolute;
	top: 100px;
	bottom: 100px;
	left: 100px;
	right: 100px;

	padding: 16px;
	white-space: nowrap;
	overflow: scroll;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	z-index: 1000;
}

#com_kamilsarelo_dynatrace_timetracking_header {
}

#com_kamilsarelo_dynatrace_timetracking_main {
	position: relative;
	margin-bottom: 16px;
}

#com_kamilsarelo_dynatrace_timetracking_input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: rgb(245, 245, 245);
	border-radius: 4px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	font-family: monospace;
	overflow: scroll;
	padding: 8px;
	outline: none; /* https://www.tutorials.de/threads/contenteditable-focus-border-entfernen.357882/ */
}

#com_kamilsarelo_dynatrace_timetracking_input .pill {
	color: white;
	font-weight: bold;
	border-radius: 8px;
	padding: 0 8px;
	margin-right: 8px;
}

#com_kamilsarelo_dynatrace_timetracking_footer {
	justify-self: center;
}

#com_kamilsarelo_dynatrace_timetracking_footer button:nth-of-type(n+2) {
	margin-left: 8px;
}

#com_kamilsarelo_dynatrace_timetracking_loader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	visibility: hidden;
	display: grid;
	pointer-events: none;
	/* z-index: 1099; */
}

#com_kamilsarelo_dynatrace_timetracking_loader div {
	justify-self: center;
	align-self: center;
}


/** Pure CSS Material Contained Button ***********************************************************/
/* https://codepen.io/finnhvman/pen/MQyJxV */

.pure-material-button-contained {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	/* padding: 0 16px; */
	padding: 0 32px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	background-color: rgb(33, 150, 243);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
	border: none;
}

/* Overlay */
.pure-material-button-contained::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px; /* Safari */
	height: 32px; /* Safari */
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
	opacity: 0.08;
}

.pure-material-button-contained:focus::before {
	opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
	opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: rgba(0, 0, 0, 0.12);
	box-shadow: none;
	cursor: initial;
}

.pure-material-button-contained:disabled::before {
	opacity: 0;
}

.pure-material-button-contained:disabled::after {
	opacity: 0;
}

/** Pure CSS Material Outlined Button ************************************************************/
/* https://codepen.io/finnhvman/pen/GYaWdV */

.pure-material-button-outlined {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: solid 1px;
	border-color: rgba(0, 0, 0, 0.24);
	border-radius: 4px;
	/* padding: 0 16px; */
	padding: 0 32px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: rgb(33, 150, 243);
	background-color: transparent;
	font-size: 14px;
	font-weight: 500;
	line-height: 34px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

.pure-material-button-outlined::-moz-focus-inner {
	border: none;
}

/* Overlay */
.pure-material-button-outlined::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-outlined::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-outlined:hover::before {
	opacity: 0.04;
}

.pure-material-button-outlined:focus::before {
	opacity: 0.12;
}

.pure-material-button-outlined:hover:focus::before {
	opacity: 0.16;
}

/* Active */
.pure-material-button-outlined:active::after {
	opacity: 0.16;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.pure-material-button-outlined:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: transparent;
	cursor: initial;
}

.pure-material-button-outlined:disabled::before {
	opacity: 0;
}

.pure-material-button-outlined:disabled::after {
	opacity: 0;
}

/** Pure CSS Material Text Button ****************************************************************/
/* https://codepen.io/finnhvman/pen/YeXwNY */

.pure-material-button-text {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 0 8px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	color: rgb(33, 150, 243);
	background-color: transparent;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
}

.pure-material-button-text::-moz-focus-inner {
	border: none;
}

/* Overlay */
.pure-material-button-text::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: currentColor;
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-text::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px;
	height: 32px;
	background-color: currentColor;
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-text:hover::before {
	opacity: 0.04;
}

.pure-material-button-text:focus::before {
	opacity: 0.12;
}

.pure-material-button-text:hover:focus::before {
	opacity: 0.16;
}

/* Active */
.pure-material-button-text:active::after {
	opacity: 0.16;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.pure-material-button-text:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: transparent;
	cursor: initial;
}

.pure-material-button-text:disabled::before {
	opacity: 0;
}

.pure-material-button-text:disabled::after {
	opacity: 0;
}


/** Pure CSS Loader ******************************************************************************/
/* https://loading.io/css/ */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;

	z-index: 10000;
}

.lds-ellipsis div {
	position: absolute;
	top: 27px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	background: rgb(33, 150, 243);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
	left: 6px;
	animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
	left: 6px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
	left: 26px;
	animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
	left: 45px;
	animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}


/** Simple CSS Spinners **************************************************************************/
/* http://tobiasahlin.com/spinkit/ */

.spinner {
	/* margin: 100px auto 0; */
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: rgb(33, 150, 243);
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/** 19 CSS Spinners **************************************************************************/
/* https://freefrontend.com/css-spinners/ */
/* https://freefrontend.com/css-loaders/ */

.spin-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.spin-wrapper .spinner {
	position: absolute;

	height: 200px;
	width: 200px;
	margin: -100px;

	border: 4px solid transparent;
	border-top-color: rgb(33, 150, 243);
	top: 50%;
	left: 50%;
	border-radius: 50%;
	animation: spin 2s linear infinite;
}

.spin-wrapper .spinner:before, .spin-wrapper .spinner:after {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-radius: 50%;
}

.spin-wrapper .spinner:before {
	border-top-color: rgb(33, 150, 243);
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	animation: spin 3s linear infinite;
}

.spin-wrapper .spinner:after {
	border-top-color: rgb(33, 150, 243);
	top: 6px;
	left: 6px;
	right: 6px;
	bottom: 6px;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
